{% extends 'base.html' %}
{% block body %}


{% for shoe in shoes %}
  <div class="modal fade" id="setDefaultsModal{{ shoe.id }}" aria-labelledby="updateDefaults" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="updateDefaults">Update default sports for {{ shoe.name }}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>  
        <form id="default-form-{{ shoe.id }}" class="default-form">
            <div class="modal-body">
            
                <input type="checkbox" id="run-{{shoe.id}}" name="run-{{shoe.id}}" value="Run">
                <label for="run-{{shoe.id}}">Run</label>
                &nbsp;&nbsp;
                <input type="checkbox" id="trailrun-{{shoe.id}}" name="trailrun-{{shoe.id}}" value="TrailRun">
                <label for="trailrun-{{shoe.id}}">Trail Run</label>
                &nbsp;&nbsp; 
                <input type="checkbox" id="walk-{{shoe.id}}" name="walk-{{shoe.id}}" value="Walk">
                <label for="walk-{{shoe.id}}">Walk</label>
                &nbsp;&nbsp; 
                <input type="checkbox" id="hike-{{shoe.id}}" name="hike-{{shoe.id}}" value="Hike">
                <label for="hike-{{shoe.id}}">Hike</label>
                &nbsp;&nbsp;    
                <input type="checkbox" id="virtualrun-{{shoe.id}}" name="virtualrun-{{shoe.id}}" value="VirtualRun">
                <label for="virtualrun-{{shoe.id}}">Virtual Run</label> 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
            </div>
        </form> 
      </div>
    </div>
  </div>
{% endfor %}

<h1>My Shoes</h1>
<table class="table">
    <tr> 
        <th>Default Sports</th>
        <th>Shoes</th>
    </tr>
    {% for shoe in shoes %}
    <tr> 
        <td name="defaults" id={{ shoe.id }}>
        {% if shoe.id in defaults %}
          {{ defaults[shoe.id] }}
        {% endif %}
        </td>

        <td> 
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#setDefaultsModal{{ shoe.id }}">
                {{ shoe.name }} 

                {% if shoe.nickname %}

                    ({{ shoe.nickname }})

                {% endif %}
            </button>
            
        </td>
    {% endfor %}
</table>

<script src="/static/js/gear_setup.js"></script> 

<br> 
<br>

You can navigate to <a href="https://www.strava.com/settings/gear">your Strava gear page</a> for reference. 

{% endblock %}