{% extends 'base.html' %}
{% block body %}
<div class="wide-outline-box">
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a class="btn btn-primary py-2" href="/gear-reminders">Configure reminders to update your gear</a></li>
        <li class="list-group-item"><a class="btn btn-primary py-2" href="/fit-files">Get .FIT files</a></li>
    </ul>

</div>
<!-- strava_auth, gear_default, email_consent -->
<!-- <div class="wide-outline-box">
    <p class="py-2">Welcome to Running Helper.</p>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{% if strava_auth %}<i class="bi bi-check-circle-fill px-2 text-success"></i>{% else %}<i class="bi bi-circle px-2"></i>{% endif %}<a href="/strava-auth" class="no-ul"><img src="/static/images/connect-with-strava.png" alt="Connect with Strava"></img></a></li>
        <a href="/retrieve-gear" class="no-ul"><li class="list-group-item">{% if gear_default %}<i class="bi bi-check-circle-fill px-2"></i>{% else %}<i class="bi bi-circle px-2"></i>{% endif %}</i></i>Set up gear defaults</li></a>
        <a href="/opt-into-email" class="no-ul"><li class="list-group-item">{% if email_consent %}<i class="bi bi-check-circle-fill px-2"></i>{% else %}<i class="bi bi-circle px-2"></i>{% endif %}</i></i>Opt into email</li></a>
    </ul>
</div> -->
{% endblock %}