{% extends 'base.html' %}

{% block body %}
<div class="narrow-outline-box">
<main class="form-signin w-100 m-auto">
    <h1 class="h3 mb-3 fw-normal">Welcome to Running Helper</h1>
    <a href="/strava-auth"><img src="/static/images/connect-with-strava.png" alt="Connect with Strava"></img></a><br>
    <p class="text-body-secondary py-2"><i class="bi bi-c-circle px-1 text-body-secondary"></i>2024 <a href="https://www.linkedin.com/in/charlottebourg/">Charlotte Bourg</a></p>
</main>
<div> 
    
{% endblock %}